[submodule "submodules/bashmarks"]
	path = submodules/bashmarks
	url = https://github.com/hariprasadraja/bashmarks
[submodule "submodules/gitprompt"]
	path = submodules/gitprompt
	url = https://github.com/hariprasadraja/gitprompt
