.sdirs
git/credentials
tasks/private/
machine/*
*.log
antigen/
antigen.log
neofetch.txt
.zinit
zshrc.zsh.zwc
nohup.out

# Have your machine specific configuration and scripts here.
# it won't be pushed
configs/tasks/machine/*

configs/micro/backups
configs/micro/buffers
configs/micro/plug
configs/pet/*

etc/utils/__pycache__
*.py[cod]
*$py.class
