.sdirs
git/credentials
tasks/private/
machine/*
*.log
antigen/
antigen.log
neofetch.txt
.zinit
zshrc.zsh.zwc
nohup.out

# Have your machine specific configuration and scripts here.
# it won't be pushed
config/tasks/machine/*

config/micro/backups
config/micro/buffers
config/micro/plug
config/pet/*

etc/utils/__pycache*
*.py[cod]
*$py.class
